<nav class="myNavbar">
    <a class="myNavElement" href="/blogs">Blogs</a>
    <a class="myNavElement" href="/blogs/new">Create Blog</a>
    <a class="myNavElement" href="/contact">Contact</a>
    <a class="myNavElement" href="/team">Team</a>
</nav>